body{
    background-color: #C5E4E7;
    font-family: "Space Mono", Arial, Helvetica, sans-serif;
    width: 375px;
    height: 933px;
    margin: 0;
} 

/* Global Style */

h1, p{
    margin: 0;
}

p{
    font-weight: bold;
    font-size: 1rem;
    color: #5e7a7d;
}

/* All elements (input) that has an attibute value of 'number' */
input[type="number"]{
    width: 94%;
    height: 48px;
    border-style: none;
    border-radius: 5px;
    background: #F3F9FA;
    color: #00474b;
    font-size: 1.5rem;
    line-height: 2.22rem;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: 19.26px center;
    text-align: right;
    padding-right: 17.48px;
    font-family: "Space Mono";
    
}

input::placeholder{
    text-align: right;
}

input[type='button']{
    width: 47%;
    height: 48px;
    background: #00474B;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 16px;
    color: #FFF;
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: bold;
    text-align: center;
    font-family: "Space Mono";
}

/* Main Container */

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Logo Container */

.logo-container{
    margin: 50px auto 40.86px;
}

#logo{
    width: 86.88px;
    height: 53.14px;
}

/* Calculator Container */
.calculator{
    background-color: #FFF;
    border-radius: 25px 25px 0 0;
    box-shadow: 0 32px 43px rgba(79, 166, 175, 0.200735);
    width: 375px;
    height: 789px;
}

/* Bill Container */

.bill-container{
    width: 90%;
    margin: 0 auto 32px;
    height: 436px;
}

/* Bill amount */

.bill-amount{
    height: 78px;
    margin: 20px 0 32px;
}

.bill-amount p{
    height: 24px;
    margin-bottom: 6px;
}

.bill-amount input{
    background-image: url('../images/icon-dollar.svg');
}

/* Select Tip Container */

.select-tip{
    margin-bottom: 32px;
    height: 216px;
}

.select-tip p{
    height: 24px;
    margin-bottom: 10px;
}

.button-tip-amount{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button-tip-amount input[type='number']{
    width: 41%;
    padding-right: 19px;
}

.tip:focus{
    background-color: #26C2AE;
    color: #00474B;
}

/* Number of People container */

.number-people{
    height: 78px;
}

.number-people p{
    margin-bottom: 6px;
}

.error{
    display: none;
}

.number-people input{
    background-image: url('../images/icon-person.svg');
}

/* Result Container */

.result-container{
    width: 90%;
    margin: 0 auto;
    height: 257px;
    background-color: #00474B;
    border-radius: 15px;
}


.tip-amount, .total-amount{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.tip-amount{
    margin: 0 auto;
   
}

.tip-amount p, .total-amount p{
    color: #FFF;
}

.tip-amount span, .total-amount span{
    color: #7F9D9F;
    font-size: 0.8125rem;
    line-height: 1.1875rem;

}

.tip-amount h1, .total-amount h1{
    color: #26C2AE;
    font-size: 2rem;
    line-height: 2.9375rem;
}

.tip-desc, .total-tip{
    margin: 37px 0 20px;
}

.total-amount{
    margin: 0 auto;
    
}

/* Rest button */

.reset-button{
    width: 90%;
    margin: 32px auto 0;
}

#reset{
    width: 100%;
    height: 48px;
    background-color: #26C2AE;
    border-radius: 5px;
    color: #00474B;
    font-size: 1.25rem;
}

